{% extends 'base.html' %}

{% block content %}
{{ super() }}

<div class="container">
    <main class="px-3">
        <h2>Клиентам мы помогаем получить скидку на посещение компании. А компании мы помогаем получить нового клиента.</h2>
        <p class="lead"> Для клиента </p>
          <a href="/find" class="btn btn-success">Попробовать</a>
        <p class="lead"> Для компании </p>
          <a href="/find" class="btn btn-success">Попробовать</a>
        </p>
    </main>
</div>

{% endblock %}
